body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fefefe;
    color: ink;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: darkred;
    color: goldenrod;
    padding: 1.2rem 2rem; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.brand{
    font-size: 1.5rem;
    font-weight: bold;
}
nav{
    margin-top: 0.5rem;
}
nav a{
    color: goldenrod;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
     transition: color 0.3s;
}
nav a:hover{
    color:#fefefe;
}
/*hero section styling*/
.hero{
     background:url(./images/image.png) center center/ cover no-repeat;
     color:#ffffff;
     font-weight: bolder;
     padding: 8rem 2rem;
     position: relative;
     text-align: center;
}
.container{
    flex: 1;
    width: 80%;
    margin:20px auto;
    padding: 0 20px;
}
.container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2 rem;
    color: goldenrod;
}
.container p{
    text-align: center;
    color: #555;
}
footer{
    text-align: center;
    padding: 22px;
    background:darkred ;
    color:goldenrod;
    font-size: 1rem;
}

/* ROOMS PAGE*/
.rooms{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)) ;
    margin-top: 30px;
    
}
.card{
    background: #ffffff ;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,5);
}
.card h3{
    color:black;
    margin-bottom: 10px;
}
.card p{
    color: #666;
}
.rooms p{
    color:goldenrod; 
}


/*BOOKING PAGE*/
.booking-form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 11px rgb(59, 36, 1);
}
.booking-form label{
    font-weight: bold;
    display: block;
    margin: 10px 0px 5px;
}
.booking-form input, select{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background:darkred;
    color:white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background 0.3s;
}
button:hover{
    background:goldenrod;
}
